<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spectator">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Spectator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.spectator.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".menu.Start" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.Settings" android:screenOrientation="portrait" />
        <activity android:name=".menu.AboutUs" android:screenOrientation="portrait" />
        <activity android:name=".counter.MainCounterScreen" android:screenOrientation="portrait" />
        <activity android:name=".detailedinfo.Details" android:screenOrientation="portrait" />
        <activity android:name=".detailedinfo.ViewComments" android:screenOrientation="portrait" />
        <activity android:name=".menu.Menu" android:screenOrientation="portrait" />

        <activity android:name=".menu.Dialog" android:screenOrientation="portrait" />

        <activity
            android:name=".counter.EditTextDialog"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:screenOrientation="portrait" />

    </application>
</manifest>